{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
     <div class="row">


        <div class="col-md-8">
            <div class="content-section">
            <form method="POST">
                {% csrf_token %}

                WE ARE HERE TO HELP THE RESEARCHERS!
<!--                <fieldset class = "form-group">-->
<!--&lt;!&ndash;                    <legend class="border-bottom mb-4">Data Retrieval </legend>&ndash;&gt;-->
<!--&lt;!&ndash;                     <p>EnterUrl: <input type="text" name="enterUrl"></p>&ndash;&gt;-->
<!--&lt;!&ndash;                    <p><input type="submit" value="submit"></p>&ndash;&gt;-->

<!--                    <p><label form="id_title" class="control-label">Query</label> <input type="text" name="query"></p>-->
<!--&lt;!&ndash;    <input class="form-control" id="id_title" maxlength="255" name="title" type="text" value="hello world" />&ndash;&gt;-->
<!--      <p><input type="submit" value="submit"></p>-->

<!--                </fieldset>-->



            </form>


        </div>
              <div class="form-group">





  </div>

        </div>
                   <div class="col-md-4">
<!--                       <div class="form-group">-->
<!--                    <a href="/database" class="btn btn-primary pull-right">New review</a>-->

<!--&lt;!&ndash;                <button class="btn btn-outline-info" href="/database" >New review</button>&ndash;&gt;-->
<!--            </div>-->
                    <a href="/scholar" class="btn btn-primary pull-right">New review</a>
                  <div class="content-section">
                    <h3>Our Sidebar</h3>
                    <p class='text-muted'>You can put any information here you'd like.
                      <ul class="list-group">
                        <li class="list-group-item list-group-item-light">Latest Posts</li>
                        <li class="list-group-item list-group-item-light">Announcements</li>
                        <li class="list-group-item list-group-item-light">Calendars</li>
                        <li class="list-group-item list-group-item-light">etc</li>
                      </ul>
                    </p>
                  </div>
                 </div>



    </div>
<h1>Search Page</h1>

<br/>
<form action="{% url 'search:searchposts' %}" method="GET" value="{{request.GET.q}}">
Search <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search posts"/>
<input type="submit" name="submit" value="Search"/>
</form>


{% if submitbutton == 'Search' and request.GET.q != '' %}
{% if results %}
<h1>Results for <b>{{ request.GET.q }}</b></h1>
<br/><br/>

{% for result in results %}

{{result.title}}
<br/>

{{result.content}}
<br/>

{% endfor %}
{% else %}
No search results for this query
{% endif %}
{% endif %}

{% endblock content %}



