{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h2>Research Papers</h2>
        <a href="/journals_delete" class="btn btn-danger pull-right">Delete All</a>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>View</th>
                <th>Bib-Tex</th>
                <th>Snowballing</th>
                <th>Delete</th>

            </tr>
        </thead>
        <tbody>
                {% for journal in journals %}
                <tr>
                    <td>{{ journal.title}}</td>
                    <td>{{journal.author}}</td>
                    <td>
                        <a href="{{journal.pdf.url}}" class="btn btn-primary btn sm" target="_blank">
                            View PDF
                        </a>
                    </td>
                     <td>


                        <a href="/bib-tex/{{journal.id}}" class="btn btn-primary btn sm" target="_blank">
                            View Bibtex
                        </a>
                    </td>
                    <td>
                        <a href="/snowballing/{{journal.id}}" class="btn btn-success btn sm" target="_blank">
                           Start Snowballing
                        </a>
                    </td>
                     <td>
                        <a href="/journals_delete/{{journal.id}}" class="btn btn-danger btn sm">
                           Delete
                        </a>
                    </td>
                </tr>
                    {% endfor %}
        </tbody>

    </table>

    <p>
        <a href="{% url 'upload_journal' %}" class="btn btn-primary">Upload Research Paper</a>
    </p>
{% endblock %}