

{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<body>

    <main>
      <div class="container">
        <div class="messages-container">

        </div>



  <h3 class="review-title">
  <span class="text-muted">Welcome</span>
  <a href="{% url 'profile' %}" class="review-title-user">{{ user.username }}</a>

</h3>
<ul class="review-menu">
  <li >
  <li class="active">
    <a href="/scholar">Databases</a>
  </li>
  <li>
    <a href="/snowballing">Snowballing</a>
  </li>
</ul>
<input type="hidden" id="review-id" value="6085">

  <div class="row">
    <div class="col-sm-11 col-md-12 col-lg-13">
      <form method="post">
        <input type='hidden' name='csrfmiddlewaretoken' value='IZ6IugjtKNXR3KF5gJDWTVxuxeiZPf2i' />
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Review details</h3>
          </div>
          <div class="panel-body">


<section>
<!--  <div class="form-group">-->
<!--               <legend class="border-bottom mb-4">Data Retrieval </legend>-->
<!--                     <p>EnterUrl: <input type="text" name="enterUrl"></p>-->
<!--                    <p><input type="submit" value="submit"></p>-->

<!--&lt;!&ndash;      <p><label form="id_title" class="control-label">Query</label> <input type="text" name="query"></p>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <input class="form-control" id="id_title" maxlength="255" name="title" type="text" value="hello world" />&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                <button class="btn btn-outline-info" type="submit">Update</button>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                <button class="btn btn-outline-info" type="submit">Update</button>&ndash;&gt;-->

<!--    <button class="btn btn-outline-info"><p><input type="submit" value="submit"></p></button>-->



<!--  </div>-->


<!-- <div class="content-section">-->
<!--        <form method="POST">-->
<!--            {% csrf_token %}-->
<!--            <fieldset class = "form-group">-->
<!--                <legend class="border-bottom mb-4">Data Retrieval </legend>-->
<!--                 <p>EnterUrl: <input type="text" name="enterUrl"></p>-->
<!--                <p><input type="submit" value="submit"></p>-->

<!--            </fieldset>-->


<!--        </form>-->

<!--    </div>-->
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class = "form-group" >
                <legend class="border-bottom mb-4">Data Retrieval </legend>
<!--                <p>Query: <input type="text" name="query"></p>-->
                {{ form|crispy }}

                <p><input type="submit" class = "btn btn-primary" value="submit"></p>


<!--                <div class="d-flex justify-content-center">-->
<!--                <div class="spinner-border" role="status">-->
<!--                <span class="sr-only">Loading...</span>-->
<!--                </div>-->

          <a href="/snowballing" class="btn btn-primary pull-right">Start Snowballing</a>



                <table style="width:60%">

                    <tr>
                    <th>CrossRef Results from all sites</th>
                    </tr>
                    <tr>
                    {% for i,j,k in crossref_dup %}
                        <td class="list-group-item"><a href={{k}}> <p>{{i}}</p> <p>Published Year {{j}}</p>  </a></td>
                        {% endfor %}
                    </tr>

                    <tr>
                    <th>Core Results from all sites</th>
                    </tr>

                    <tr>
                    {% for i,j,k in coredup %}
                        <td class="list-group-item"><a href={{k}}> {{i}} <p>Published Year {{j}}</p> <p>{{k}}</p></a></td>
                        {% endfor %}
                    </tr>

                    <tr>
                    <th>Core Results (De-duplicating)</th>
                    </tr>

                    <tr>
                    {% for i,j,k in core %}
                        <td class="list-group-item"><a href={{k}}> {{i}} <p>Published Year {{j}}</p> <p>{{k}}</p> </a></td>
                        {% endfor %}
                    </tr>

                    <tr>
                    <th>CrossRef Results (De-duplicating)</th>
                    </tr>

                    <tr>
                    {% for i,j,k in crossRef %}
                        <td class="list-group-item"><a href={{k}}> {{i}} <p>Published Year {{j}}</p> </a></td>
                        {% endfor %}
                    </tr>

                </table>


<!--                {% for c in crossref_url %}-->
<!--                    <a href = {{c}}      class="list-group-item"> {{c}} </a>-->

<!--                {% endfor %}-->



<!--                {% for c in crossref_dois %}-->
<!--                    <p class="list-group-item"> {{c}} </p>-->

<!--                {% endfor %}-->

<!--                {% for c in content %}-->
<!--                    <a class="list-group-item" href={{c}}> {{c}} </a>-->
<!--                {% endfor %}-->



            </fieldset>


        </form>

    </div>


</section>
<!--  <div class="form-group">-->
<!--    <label for="id_description" class="control-label">Description</label>-->
<!--    <textarea class="form-control expanding" cols="40" id="id_description" maxlength="500" name="description" rows="4">-->
<!--hello world how are you?-->
<!--</textarea>-->

<!--  </div>-->

          </div>
<!--          <div class="panel-footer">-->
<!--            <button type="submit" class="btn btn-success">-->
<!--              <span class="glyphicon glyphicon-ok"></span>-->
<!--              Save-->
<!--            </button>-->
<!--          </div>-->

        </div>

<!--      <section id="selection-section" style="margin-bottom: 20px;">-->
<!--        <div class="panel panel-default">-->
<!--          <div class="panel-heading">-->
<!--            <h3 class="panel-title">Selection Criteria</h3>-->
<!--          </div>-->
<!--          <div class="panel-body">-->
<!--            <p>Inform your inclusion or exclusion criteria and press <strong>Enter</strong> to add.</p>-->
<!--            <div class="row">-->
<!--              <div class="col-sm-6">-->
<!--                <div class="form-group">-->
<!--                  <label for="input-inclusion" class="control-label">Inclusion Criteria</label>-->
<!--                  <input type="text" id="input-inclusion" maxlength="200" class="form-control">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                  <select multiple="multiple" size="6" id="inclusion-criteria" class="form-control">-->
<!--                    {% for criteria in review.get_inclusion_criterias %}-->
<!--                      <option value="{{ criteria.id }}">{{ criteria.description }}</option>-->
<!--                    {% endfor %}-->
<!--                  </select>-->
<!--                </div>-->
<!--                <button type="button" class="btn btn-danger btn-sm btn-remove-criteria" data-target="#inclusion-criteria">-->
<!--                  <span class="glyphicon glyphicon-trash"></span>-->
<!--                  remove selected-->
<!--                </button>-->
<!--              </div>-->
<!--              <div class="col-sm-6">-->
<!--                <div class="form-group">-->
<!--                  <label for="input-exclusion" class="control-label">Exclusion Criteria</label>-->
<!--                  <input type="text" id="input-exclusion" maxlength="200" class="form-control">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                  <select multiple="multiple" size="6" id="exclusion-criteria" class="form-control">-->
<!--                    {% for criteria in review.get_exclusion_criterias %}-->
<!--                      <option value="{{ criteria.id }}">{{ criteria.description }}</option>-->
<!--                    {% endfor %}-->
<!--                  </select>-->
<!--                </div>-->
<!--                <button type="button" class="btn btn-danger btn-sm btn-remove-criteria" data-target="#exclusion-criteria">-->
<!--                  <span class="glyphicon glyphicon-trash"></span>-->
<!--                  remove selected-->
<!--                </button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </section>-->

      </form>
    </div>
<!--    <div class="col-sm-5 col-md-4 col-lg-3">-->
<!--      <div class="panel panel-default">-->
<!--        <div class="panel-heading">-->
<!--          <h3 class="panel-title">Authors</h3>-->
<!--        </div>-->
<!--        <ul class="list-group authors" data-remove-url="/reviews/remove_author/">-->
<!--          <li class="list-group-item" author-id="6697">-->
<!--            <a href="/SaqibArsalan/">-->
<!--              SaqibArsalan-->
<!--            </a>-->
<!--            <span class="badge">main author</span>-->
<!--          </li>-->

<!--        </ul>-->

<!--          <div class="panel-footer">-->
<!--            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-author-modal">-->
<!--              <span class="glyphicon glyphicon-plus"></span>-->
<!--              Add author-->
<!--            </button>-->
<!--            <form method="post" action="/reviews/add_author/">-->
<!--              <input type='hidden' name='csrfmiddlewaretoken' value='IZ6IugjtKNXR3KF5gJDWTVxuxeiZPf2i' />-->
<!--              <input type="hidden" name="review-id" value="6085">-->
<!--              <div class="modal fade" id="add-author-modal">-->
<!--                <div class="modal-dialog">-->
<!--                  <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
<!--                      <h4 class="modal-title">Add author</h4>-->
<!--                    </div>-->
<!--                    <div class="modal-body">-->
<!--                      <div class="alert alert-info">-->
<!--                        You may add someone that doesn't have a Parsifal Account. Just type his email adress and we will send an invitation. :)-->
<!--                      </div>-->
<!--                      <div class="form-group">-->
<!--                        <label for="users" class="control-label">Contacts</label>-->
<!--                        <select id="users" name="users" class="contacts" placeholder="Pick an author or invite someone..."></select>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="modal-footer">-->
<!--                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>-->
<!--                      <button type="submit" class="btn btn-success">Send invitation</button>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </form>-->
<!--          </div>-->

<!--      </div>-->
<!--    </div>-->
  </div>


      </div>
    </main>


<script src="/static/js/mustache.min.js"></script>
  <script src="/static/js/jquery-1.11.3.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/jquery.tablesorter.min.js"></script>
  <script src="/static/js/selectize.min.js"></script>
  <script src="/static/js/expanding.js"></script>
  <script src="/static/js/parsifal.js?v=2"></script>
</body>
{% endblock content %}

</html>