

{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">


  <!-- Font-awesome -->
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<!--      <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>-->
<!--  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>-->

    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


</head>
<body>

    <main>
      <div class="container">
        <div class="messages-container">

        </div>



          <h3 class="review-title">

              <div class="row">
                  <div class="col-md-4 ">
                    <span class="text-muted">Welcome</span>
                    <a href="{% url 'profile' %}" class="review-title-user">{{ user.username }}</a>
                  </div>


<!--              <div class="col-md-6">-->
<!--                  <form action="{% url 'search_database' %}" method="POST" value="{{request.POST.q}}">-->
<!--                      {% csrf_token %}-->
<!--                      <div class="form-row align-items-right">-->
<!--                          <div class="my-1">-->
<!--                            <input type="text" class="form-control" placeholder="Search" name="q" value="{{request.POST.q}}">-->
<!--                          </div>-->
<!--                          <button class="btn btn-default" type="submit" name="submit-database">-->
<!--                            <i class="glyphicon glyphicon-search"></i>-->
<!--                          </button>-->
<!--                      </div>-->
<!--                  </form>-->


<!--              </div>-->

              </div>
          </h3>
<ul class="review-menu">
  <li >
  <li class="active">
     {% if user.is_authenticated %}
             <a href="/scholar">Databases</a>
       {% else %}
        <meta http-equiv="REFRESH" content="0;url={{ '/login' }}">
     {% endif%}
  </li>
  <li>
   <a href="/snowballing" id="snowballing-btn1">Snowballing</a>
  </li>
    <li>
    <a href="/abstract" id="abstract-btn">Abstract Screening</a>

  </li>
    <li >
    <a href="/fulltext">Full-Text Screening</a>
  </li>
    <li >
    <a href="/quality-assessment">Quality Assessment</a>
  </li>
</ul>
<input type="hidden" id="review-id" value="6085">

  <div class="row">
    <div class="col-sm-11 col-md-12 col-lg-13">
      <form method="post">
        <input type='hidden' name='csrfmiddlewaretoken' value='IZ6IugjtKNXR3KF5gJDWTVxuxeiZPf2i' />
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Review details</h3>
          </div>
          <div class="panel-body">


<section>

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class = "form-group" >
                <legend class="border-bottom mb-4">Data Retrieval </legend>
                {{ form |crispy }}

                <p><input type="submit" name="btnform3" class="btn btn-primary" value="submit"></p>



          <a href="/snowballing" id="snowballing-btn2" class="btn btn-primary pull-right">Start Snowballing</a>



                <table id="database_table" class="table" style="width:100%">
                    <thead>
                    <tr>
                        <th>Year</th>
                        <th>Title</th>
                        <th>Article</th>


                    </tr>
                    </thead>
                    <tbody>
                    {% for i,j,k in core %}
                    <tr>
                        <td >{{j}} </td>

                         <td>{{i}}</td>

                    <td>
                        <a href="{{k}}" class="btn btn-primary btn-sm" target="_blank">
                            Open Article
                        </a>
                    </td>
                    </tr>

                    {% endfor %}

                    {% for x,y,z in crossRef %}
                    <tr>
                        <td >{{y}} </td>

                        <td>{{x}}</td>

                        <td>
                        <a href="{{z}}" class="btn btn-primary btn-sm" target="_blank">
                            Open Article
                        </a>
                    </td>
                    </tr>

                    {% endfor %}

                    </tbody>

                </table>

            </fieldset>


        </form>

    </div>


</section>

          </div>


        </div>

      </form>
      <form method="post">
        <input type='hidden' name='csrfmiddlewaretoken' value='IZ6IugjtKNXR3KF5gJDWTVxuxeiZPf2i' />
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">PICOC</h3>
              <p>Separate the terms used in the PICOC using commas for building better search string.</p>
              <p>Any section of PICOC can be left as blank if it doesn't apply to your research.</p>
          </div>
          <div class="panel-body">


<section>

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class = "form-group">

                {{ form2|crispy}}

                <button type="submit" name="btnform2" class="btn btn-success">Save</button>


            </fieldset>

        </form>

    </div>


</section>

          </div>


        </div>

      </form>

              <form method="post">
                    <input type='hidden' name='csrfmiddlewaretoken' value='IZ6IugjtKNXR3KF5gJDWTVxuxeiZPf2i' />
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">RESEARCH QUESTIONS</h3>
                          <p>Please write proper question in a sentence form</p>
                      </div>
                      <div class="panel-body">


            <section>

                <div class="content-section">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class = "form-group">

                            {{ form3|crispy}}

                            <button type="submit" name="btnform1" class="btn btn-success">Save</button>


                        </fieldset>

                    </form>

    </div>


</section>

          </div>


        </div>

      </form>



    </div>

  </div>
      </div>
    </main>

    <script>
        $(document).ready(function () {
            var table = $('#database_table').DataTable();

            if(!table.data().any()){
                $('#snowballing-btn2').click(function(){
                    return false;
                }) ;
                $('#snowballing-btn1').click(function(){
                    return false;
                }) ;
                $('#abstract-btn').click(function(){
                    return false;
                }) ;
            }


        });
    </script>



<!--    <script src="/static/js/mustache.min.js"></script>-->
<!--  <script src="/static/js/jquery-1.11.3.min.js"></script>-->
<!--  <script src="/static/js/bootstrap.min.js"></script>-->
<!--  <script src="/static/js/jquery.tablesorter.min.js"></script>-->
<!--  <script src="/static/js/selectize.min.js"></script>-->
<!--  <script src="/static/js/expanding.js"></script>-->
<!--  <script src="/static/js/parsifal.js?v=2"></script>-->
<script type='text/javascript'>
function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
}
function cloneMore(selector, prefix) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
    console.log("hello");
    newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
        console.log("hello world");
        // var original_name =  $(this).attr('form-0-name');
        // console.log("orginal name", original_name);
        // var name = $(this).attr('name').replace('-' + (total-1) + '-', '-' + total + '-');
        // var id = 'id_' + name;
        // $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
    });
    newElement.find('label').each(function() {
        var forValue = $(this).attr('for');
        if (forValue) {
          forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
          $(this).attr({'for': forValue});
        }
    });
    total++;
    $('#id_' + prefix + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
    var conditionRow = $('.form-row:not(:last)');
    conditionRow.find('.btn.add-form-row')
    .removeClass('btn-success').addClass('btn-danger')
    .removeClass('add-form-row').addClass('remove-form-row')
    .html('<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>');
    return false;
}
function deleteForm(prefix, btn) {
    var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (total > 1){
        btn.closest('.form-row').remove();
        var forms = $('.form-row');
        $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
        for (var i=0, formCount=forms.length; i<formCount; i++) {
            $(forms.get(i)).find(':input').each(function() {
                updateElementIndex(this, prefix, i);
            });
        }
    }
    return false;
}
$(document).on('click', '.add-form-row', function(e){
    e.preventDefault();
    cloneMore('.form-row:last', 'form');
    return false;
});
$(document).on('click', '.remove-form-row', function(e){
    e.preventDefault();
    deleteForm('form', $(this));
    return false;
});
</script>





</body>
{% endblock content %}

</html>