{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class="border-bottom mb-4">Scholarly Data Retrieval </legend>
                 <p>Query: <input type="text" name="query"></p>
                <p><input type="submit" value="submit"></p>


                {% for i in content %}
                     <p> {{i}}</p>
                {% endfor %}


               
            </fieldset>


        </form>

    </div>

{% endblock content %}



