{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<body>

    <main>
      <div class="container">
        <div class="messages-container">

        </div>



  <h3 class="review-title">
  <span class="text-muted">Welcome</span>
  <a href="{% url 'profile' %}" class="review-title-user">{{ user.username }}</a>

</h3>
<ul class="review-menu">
  <li>
    <a href="/scholar">Databases</a>
  </li>
  <li class="active">
    <a href="/snowballing">Snowballing</a>
  </li>
    <li>
    <a href="/abstract">Abstract Screening</a>
  </li>

</ul>
<input type="hidden" id="review-id" value="6085">

  <div class="row">
    <div class="col-sm-11 col-md-12 col-lg-13">
      <form method="post">
        <input type='hidden' name='csrfmiddlewaretoken' value='IZ6IugjtKNXR3KF5gJDWTVxuxeiZPf2i' />
        <div class="panel panel-default">
          <div class="panel-heading">
<!--            <h3 class="panel-title">Review details</h3>-->
          </div>
          <div class="panel-body">
             <table style="width:60%">

                  <tr>
                    <th>Backward Snowballing output</th>
                  </tr>
                     {% for key, value in data %}
                    <tr>
                     <td class="list-group-item"><a href= {{key}}> {{ value }}: </a></td>
                     </tr>
                        {% endfor %}




                  <tr>
                    <th>Forward Snowballing output</th>
                  </tr>

                    {% for key, value in data2 %}
                    <tr>
<!--                        <td class="list-group-item"><a href={{key}}>: </td> <td>{{value}}</a></td>-->

                     <td class="list-group-item"><a href= {{key}}> {{ value }}: </a></td>
                     </tr>
                 {% endfor %}





                </table>




          </div>
<!--          <p> <input type="submit" class = "btn btn-primary" value="Start Snowballing"></p>-->

<!--          <a href="/snowballing" class="btn btn-primary pull-right">Start Snowballing</a>-->



<!--          <div class="panel-footer">-->
<!--            <button type="submit" class="btn btn-success">-->
<!--              <span class="glyphicon glyphicon-ok"></span>-->
<!--              Save-->
<!--            </button>-->
<!--          </div>-->

        </div>




<!--      <section id="selection-section" style="margin-bottom: 20px;">-->
<!--        <div class="panel panel-default">-->
<!--          <div class="panel-heading">-->
<!--            <h3 class="panel-title">Selection Criteria</h3>-->
<!--          </div>-->
<!--          <div class="panel-body">-->
<!--            <p>Inform your inclusion or exclusion criteria and press <strong>Enter</strong> to add.</p>-->
<!--            <div class="row">-->
<!--              <div class="col-sm-6">-->
<!--                <div class="form-group">-->
<!--                  <label for="input-inclusion" class="control-label">Inclusion Criteria</label>-->
<!--                  <input type="text" id="input-inclusion" maxlength="200" class="form-control">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                  <select multiple="multiple" size="6" id="inclusion-criteria" class="form-control">-->
<!--                    {% for criteria in review.get_inclusion_criterias %}-->
<!--                      <option value="{{ criteria.id }}">{{ criteria.description }}</option>-->
<!--                    {% endfor %}-->
<!--                  </select>-->
<!--                </div>-->
<!--                <button type="button" class="btn btn-danger btn-sm btn-remove-criteria" data-target="#inclusion-criteria">-->
<!--                  <span class="glyphicon glyphicon-trash"></span>-->
<!--                  remove selected-->
<!--                </button>-->
<!--              </div>-->
<!--              <div class="col-sm-6">-->
<!--                <div class="form-group">-->
<!--                  <label for="input-exclusion" class="control-label">Exclusion Criteria</label>-->
<!--                  <input type="text" id="input-exclusion" maxlength="200" class="form-control">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                  <select multiple="multiple" size="6" id="exclusion-criteria" class="form-control">-->
<!--                    {% for criteria in review.get_exclusion_criterias %}-->
<!--                      <option value="{{ criteria.id }}">{{ criteria.description }}</option>-->
<!--                    {% endfor %}-->
<!--                  </select>-->
<!--                </div>-->
<!--                <button type="button" class="btn btn-danger btn-sm btn-remove-criteria" data-target="#exclusion-criteria">-->
<!--                  <span class="glyphicon glyphicon-trash"></span>-->
<!--                  remove selected-->
<!--                </button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </section>-->

      </form>
    </div>
<!--&lt;!&ndash;    <div class="col-sm-5 col-md-4 col-lg-3">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="panel panel-default">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="panel-heading">&ndash;&gt;-->
<!--&lt;!&ndash;          <h3 class="panel-title">Authors</h3>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <ul class="list-group authors" data-remove-url="/reviews/remove_author/">&ndash;&gt;-->
<!--&lt;!&ndash;          <li class="list-group-item" author-id="6697">&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="profile">&ndash;&gt;-->
<!--&lt;!&ndash;              {{ user.username }}&ndash;&gt;-->
<!--&lt;!&ndash;            </a>&ndash;&gt;-->
<!--&lt;!&ndash;            <span class="badge">main author</span>&ndash;&gt;-->
<!--&lt;!&ndash;          </li>&ndash;&gt;-->

<!--&lt;!&ndash;        </ul>&ndash;&gt;-->

<!--&lt;!&ndash;          <div class="panel-footer">&ndash;&gt;-->
<!--&lt;!&ndash;            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-author-modal">&ndash;&gt;-->
<!--&lt;!&ndash;              <span class="glyphicon glyphicon-plus"></span>&ndash;&gt;-->
<!--&lt;!&ndash;              Add author&ndash;&gt;-->
<!--&lt;!&ndash;            </button>&ndash;&gt;-->
<!--&lt;!&ndash;            <form method="post" action="/reviews/add_author/">&ndash;&gt;-->
<!--&lt;!&ndash;              <input type='hidden' name='csrfmiddlewaretoken' value='IZ6IugjtKNXR3KF5gJDWTVxuxeiZPf2i' />&ndash;&gt;-->
<!--&lt;!&ndash;              <input type="hidden" name="review-id" value="6085">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="modal fade" id="add-author-modal">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="modal-dialog">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="modal-content">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="modal-header">&ndash;&gt;-->
<!--&lt;!&ndash;                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>&ndash;&gt;-->
<!--&lt;!&ndash;                      <h4 class="modal-title">Add author</h4>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="modal-body">&ndash;&gt;-->
<!--&lt;!&ndash;                      <div class="alert alert-info">&ndash;&gt;-->
<!--&lt;!&ndash;                        You may add someone that doesn't have a SLR Automation Account. Just type his email adress and we will send an invitation. :)&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->
<!--&lt;!&ndash;                      <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                        <label for="users" class="control-label">Contacts</label>&ndash;&gt;-->
<!--&lt;!&ndash;                        <select id="users" name="users" class="contacts" placeholder="Pick an author or invite someone..."></select>&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="modal-footer">&ndash;&gt;-->
<!--&lt;!&ndash;                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>&ndash;&gt;-->
<!--&lt;!&ndash;                      <button type="submit" class="btn btn-success">Send invitation</button>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </form>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->

<!--      </div>-->
    </div>
  </div>


      </div>
    </main>

<script src="/static/js/mustache.min.js"></script>
  <script src="/static/js/jquery-1.11.3.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/jquery.tablesorter.min.js"></script>
  <script src="/static/js/selectize.min.js"></script>
  <script src="/static/js/expanding.js"></script>
  <script src="/static/js/parsifal.js?v=2"></script>
</body>
{% endblock content %}

</html>